.crop-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.crop-view {
  position: relative;
  width: min(90vw, 480px);
  height: min(90vw, 480px);
  background: #111;
}

.crop-actions {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
