.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.userAvatar {
  border-radius: 50%;
  object-fit: cover;
}

.badgeIcon {
  background: var(--bg-tertiary);
  border: 1px solid var(--border-secondary);
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3.5px;
}
