.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.userAvatar {
  border-radius: 50%;
  object-fit: cover;
}

.badgeIcon {
  background: rgba(127, 127, 127, 1);
  border: 1px solid var(--background);
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px;
}
