.formFlex {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.formFieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.changePasswordBtn {
  width: 100%;
}

.btnContainer {
  margin-top: auto;
  padding-bottom: calc(var(--bottom-nav-height) + 20px);
}
