.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}

.infoMessage {
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
  color: var(--foreground);
  opacity: 0.6;
}

.selectedUsers {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 250px;
  overflow-y: auto;
}
