.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  height: 100%;
}

.membersList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.userItem {
  transition: background-color 0.3s ease;
}

.userItem.selected,
.userItem:hover {
  background-color: var(--grey);
  border-radius: 16px;
}

.userItem:hover {
  cursor: pointer;
}
