.container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 100vh;
  background: var(--bg-primary-contrast);
}

.header {
  background-color: var(--bg-primary);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 24px 20px 16px 20px;
}

.content {
  flex: 1;
  background-color: var(--bg-primary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0px 20px;
}
