.container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 100vh;
  background: var(--bg-primary-contrast);
}

.topBar {
  padding: 8px 20px 12px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--bg-secondary);
}

.topBarBack {
  padding: 12px 20px 12px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--bg-primary);
}

.content {
  padding: 12px 20px 0px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--bg-primary);
  overflow-y: auto;
  flex: 1;
}
