.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.content {
  display: flex;
  flex: 1;
  border-radius: 12px;
  background-color: var(--bg-card);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.04);
}
