.bottomContent {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.bottomContent :global(.body-reg-2) {
  opacity: 70%;
}
