.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  padding-left: 8px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
