.dropdownMenuContainer {
  position: relative;
  display: inline-block;
}

.dropdownOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: transparent;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 4px 0;
  background: var(--background);
  border-radius: 8px;
  border: 1px solid var(--dropdown-border);
  box-shadow: 0px 4px 24px 0px var(var(--dropdown-shaddow));
  z-index: 1000;
  min-width: 230px;
  overflow: hidden;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 10px 24px;
  border: none;
  background: var(--background);
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: background-color 0.2s;
}

.dropdownItem:hover {
  background-color: var(--grey);
}
