.container {
  display: flex;
  padding: 12px 0px;
  gap: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-items: center;
  align-items: center;
}

.container:last-child {
  border-bottom: none;
}

.title {
  flex: 1;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
