.container {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 24px;
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 124px);
  padding-bottom: 20px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.members-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 100%;
  }
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}
