.button {
  border: none;
  border-radius: 10000px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 0.6;
}

.button:disabled {
  cursor: default;
  opacity: 0.6;
}

.button:disabled:hover {
  cursor: not-allowed;
}

.primary {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary-contrast);
  color: var(--text-primary-contrast);
  padding: 12px 16px;
}

.secondary {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  padding: 12px 16px;
}

.text {
  display: flex;
  gap: 12px;
  align-items: center;
  background: transparent;
  color: var(--text-primary);
  padding: 8px;
}
