.container {
  width: var(--avatar-size, 48px);
  height: var(--avatar-size, 48px);
  border-radius: 50%;
  background-color: var(--avatar-bg, rgba(240, 240, 240, 1));
  outline: var(--avatar-outline, 3px solid var(--background));
  position: relative;
}

.avatar {
  padding: 8px;
  object-fit: contain;
}
