.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: var(--grey);
  overflow-y: auto;
}

.emptyState {
  padding: 20px;
  text-align: center;
  color: var(--text-secondary);
  font-size: 14px;
}
