.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* TaskItemDesktop styles */
.taskItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--bg-secondary-2);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.taskId {
  color: var(--text-secondary);
  text-decoration: none;
}
