.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.owner {
  color: var(--text-secondary);
  white-space: pre;
}

.description > button {
  border: none;
  background-color: transparent;
  color: var(--text-accent);
}
