.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formItems > p {
  display: block;
  align-self: center;
  text-align: center;
  max-width: 235px;
}

.forgotPassword {
  height: 32px;
  align-content: center;
  align-self: flex-end;
}
