.container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--email-bg);
  white-space: nowrap;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  vertical-align: middle;
}
