.taskWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px;
  background-color: var(--bg-secondary-2);
  border-radius: 12px;
  transition: background-color 0.2s ease;
  height: 48px;
}

.taskWrapper:hover {
  cursor: pointer;
  background-color: var(--bg-secondary);
}

svg.icon {
  flex-shrink: 0;
}

p.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-tertiary);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
