.tabsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 12px;
  background-color: var(--bg-secondary);
  height: 40px;
  flex: 1;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
}

.tab:not(.active) {
  color: var(--text-tertiary);
  opacity: 0.5;
}

.tab.active {
  background-color: var(--bg-card);
}

.tab.active > span {
  color: var(--text-primary);
  opacity: 1;
}
