.container {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--foreground);
  margin-bottom: 20px;
  text-align: center;
}
