.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 4px;
}

.buttons {
  padding-top: 8px;
}

.buttons > button {
  width: 100%;
}
