.form-flex {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.change-password-btn {
  width: 100%;
}

.btn-container {
  margin-top: auto;
  padding-bottom: calc(var(--bottom-nav-height) + 20px);
}
