.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--bg-primary);
  border-radius: 12px;
  padding: 20px;
}

.inputFields {
  display: grid;
  flex-direction: row;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.inputFields > :nth-child(1) {
  padding-bottom: 8px;
  grid-column: 1 / span 2;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}

.buttons > button {
  max-width: 164px;
  width: 100%;
}
