.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 24px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 66px;
}
