.container {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.members {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 8px;
}
